@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #EA580C;
  --primary-text: #FFFFFF;

  --secondary: #FB923C;
  --accent: #FACC15;

  --success: #16A34A;
  --error: #DC2626;
  --warning: #EAB308;

  --background: #FFF7ED;
  --text: #1F2937;
}

button{
  cursor: pointer;
}